* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#app-3 {
  background-color: #FFCB05; }
  #app-3 .text_nth {
    font-size: 60px; }
  #app-3 .description {
    font-size: 30px; }
  #app-3 .p {
    font-size: 60px; }
  #app-3 .bullet {
    z-index: 9999;
    position: fixed;
    left: -100px; }
    #app-3 .bullet.shoot {
      -webkit-animation-name: boom;
      animation-name: boom;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }
  #app-3 .arrow {
    position: fixed;
    left: 0px;
    width: 200px;
    height: 200px; }
    #app-3 .arrow img {
      z-index: 0;
      width: 100%; }

@-webkit-keyframes boom {
  0% {
    left: 0px; }
  100% {
    left: calc( 100% + 100px); } }

@keyframes boom {
  0% {
    left: 0px; }
  100% {
    left: calc( 100% + 100px); } }
  #app-3 form.form_fills {
    margin-top: 100px;
    text-align: center;
    width: 400px; }
    #app-3 form.form_fills .fills .fill {
      font-size: 25px;
      margin-bottom: 0.5em;
      display: block;
      clear: both; }
      #app-3 form.form_fills .fills .fill .msg {
        font-size: 12px; }
      #app-3 form.form_fills .fills .fill .question {
        margin-right: 0.5em; }
      #app-3 form.form_fills .fills .fill input {
        text-transform: capitalize;
        font-size: 30px;
        background: rgba(255, 255, 255, 0.7);
        border: 0;
        outline: 0;
        border-radius: 10px;
        padding: 5px;
        width: 5em;
        text-align: center;
        margin-left: 5px; }
        #app-3 form.form_fills .fills .fill input:focus {
          background: white; }
        #app-3 form.form_fills .fills .fill input.false {
          border: 3px red solid; }
    #app-3 form.form_fills button[type=submit] {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      font-size: 30px;
      padding: 10px;
      background: orange;
      outline: 0;
      border: 0;
      border-radius: 10px;
      width: 50%; }
      #app-3 form.form_fills button[type=submit]:hover {
        width: 100%;
        background: black;
        cursor: pointer;
        color: orange; }
  #app-3 .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 200px;
    margin-top: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #app-3 .options .op {
      width: 350px;
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 2em;
      border-radius: 20px;
      background-image: url(../img/pic.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative; }
      #app-3 .options .op:nth-child(2) {
        top: -5px; }
      #app-3 .options .op:nth-child(3) {
        top: -10px; }
      #app-3 .options .op:nth-child(4) {
        top: -15px; }
      #app-3 .options .op:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer; }
      #app-3 .options .op:active {
        -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
        transform: scale(0.99); }

#app-2 {
  background-color: #08AEEA;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#08AEEA), to(#2AF598));
  background-image: -webkit-linear-gradient(bottom, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(bottom, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); }
  #app-2 .text_nth {
    font-size: 60px; }
  #app-2 .description {
    font-size: 30px; }
  #app-2 .arrow {
    position: fixed;
    top: -500px;
    width: 200px;
    height: 200px; }
    #app-2 .arrow img {
      z-index: 0;
      width: 100%; }
    #app-2 .arrow.shoot {
      -webkit-animation-name: pick;
      animation-name: pick;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }

@-webkit-keyframes pick {
  0% {
    top: -500px; }
  100% {
    top: -235px; } }

@keyframes pick {
  0% {
    top: -500px; }
  100% {
    top: -235px; } }
  #app-2 form.form_fills {
    margin-top: 100px;
    text-align: center;
    width: 400px; }
    #app-2 form.form_fills .fills .fill {
      font-size: 25px;
      margin-bottom: 0.5em;
      display: block;
      clear: both; }
      #app-2 form.form_fills .fills .fill .msg {
        font-size: 12px; }
      #app-2 form.form_fills .fills .fill .question {
        margin-right: 0.5em; }
      #app-2 form.form_fills .fills .fill input {
        text-transform: capitalize;
        font-size: 30px;
        background: rgba(255, 255, 255, 0.7);
        border: 0;
        outline: 0;
        border-radius: 10px;
        padding: 5px;
        width: 5em;
        text-align: center;
        margin-left: 5px; }
        #app-2 form.form_fills .fills .fill input:focus {
          background: white; }
        #app-2 form.form_fills .fills .fill input.false {
          border: 3px red solid; }
    #app-2 form.form_fills button[type=submit] {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      font-size: 30px;
      padding: 10px;
      background: orange;
      outline: 0;
      border: 0;
      border-radius: 10px;
      width: 50%; }
      #app-2 form.form_fills button[type=submit]:hover {
        width: 100%;
        background: black;
        cursor: pointer;
        color: orange; }
  #app-2 .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 200px; }
    #app-2 .options .op {
      width: 150px;
      height: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #7F4F21;
      font-weight: bold;
      font-size: 2em;
      border-radius: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      #app-2 .options .op:nth-child(1) {
        background-image: url(../img/doll1.svg); }
      #app-2 .options .op:nth-child(2) {
        background-image: url(../img/p2.png); }
      #app-2 .options .op:nth-child(3) {
        background-image: url(../img/p3.png); }
      #app-2 .options .op:nth-child(4) {
        background-image: url(../img/p4.png); }
      #app-2 .options .op:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer; }
      #app-2 .options .op:active {
        -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
        transform: scale(0.99); }

#app-1 {
  background: #D7D7D7; }
  #app-1 .text_nth {
    font-size: 60px; }
  #app-1 .description {
    font-size: 30px; }
  #app-1 .arrow {
    position: fixed;
    bottom: -10px;
    width: 25px; }
    #app-1 .arrow img {
      z-index: 0;
      width: 100%; }
    #app-1 .arrow.shoot {
      -webkit-animation-name: shoot;
      animation-name: shoot;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }

@-webkit-keyframes shoot {
  0% {
    bottom: -10px; }
  100% {
    bottom: calc(100vh - 50px); } }

@keyframes shoot {
  0% {
    bottom: -10px; }
  100% {
    bottom: calc(100vh - 50px); } }
  #app-1 .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 100px; }
    #app-1 .options .op {
      width: 140px;
      height: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 2em;
      border-radius: 20px;
      background-image: url(../img/balloon.png);
      background-size: cover;
      background-position: center; }
      #app-1 .options .op:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer; }
      #app-1 .options .op:active {
        -webkit-transform: scale(0.99);
        -ms-transform: scale(0.99);
        transform: scale(0.99); }

#app-1, #app-2, #app-3 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #app-1 .jump_finish, #app-2 .jump_finish, #app-3 .jump_finish {
    z-index: 99999;
    color: #E00D78;
    background: #eeaeca;
    background: -webkit-radial-gradient(circle, #eeaeca 0%, #cdb4d9 47%, #94bbe9 100%);
    background: -o-radial-gradient(circle, #eeaeca 0%, #cdb4d9 47%, #94bbe9 100%);
    background: radial-gradient(circle, #eeaeca 0%, #cdb4d9 47%, #94bbe9 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
    text-align: center;
    padding-top: 15%; }
    #app-1 .jump_finish h1, #app-2 .jump_finish h1, #app-3 .jump_finish h1 {
      font-size: 30px; }
    #app-1 .jump_finish a, #app-2 .jump_finish a, #app-3 .jump_finish a {
      text-decoration: none;
      background: #E00D78;
      color: #FFF;
      padding: 10px 30px;
      margin: 10px;
      display: inline-block; }
      #app-1 .jump_finish a:hover, #app-2 .jump_finish a:hover, #app-3 .jump_finish a:hover {
        background: #f32d91; }
  #app-1 .bingo, #app-2 .bingo, #app-3 .bingo {
    background: white;
    background-image: url("../img/winner.jpg");
    background-size: contain;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99999; }
    #app-1 .bingo .title, #app-2 .bingo .title, #app-3 .bingo .title {
      font-size: 60px;
      font-weight: bold; }
  #app-1 .fail, #app-2 .fail, #app-3 .fail {
    background: red;
    background-image: url("../img/lose.jpg");
    background-size: contain;
    background-position: center;
    color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99999; }
    #app-1 .fail .title, #app-2 .fail .title, #app-3 .fail .title {
      font-size: 60px;
      font-weight: bold; }
  #app-1 h1, #app-2 h1, #app-3 h1 {
    font-size: 30px;
    margin: 1em; }

#app-index {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #b3dced;
  background-image: url(../img/index_cover.jpg);
  background-position: center top;
  background-size: cover; }
  #app-index h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    display: none; }
  #app-index .page-menu {
    background: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 999; }
    #app-index .page-menu.b, #app-index .page-menu.c, #app-index .page-menu.d {
      background-color: #4B1A00;
      background-image: url("../img/before_start.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center; }
      #app-index .page-menu.b .textbox, #app-index .page-menu.c .textbox, #app-index .page-menu.d .textbox {
        background: yellow;
        width: 600px;
        height: 300px; }
      #app-index .page-menu.b .start, #app-index .page-menu.c .start, #app-index .page-menu.d .start {
        background: #6D4C41;
        font-size: 36px;
        padding: 10px 150px;
        border-radius: 10px;
        color: #FFF; }
        #app-index .page-menu.b .start:hover, #app-index .page-menu.c .start:hover, #app-index .page-menu.d .start:hover {
          cursor: pointer;
          background: #a87b6c; }
    #app-index .page-menu .title {
      font-size: 60px;
      font-weight: bold; }
    #app-index .page-menu .item-menu {
      background: orange;
      width: 80%;
      height: 5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0.5em;
      border-radius: 10px; }
      #app-index .page-menu .item-menu:hover {
        background: #333;
        color: #fff;
        cursor: pointer; }
  #app-index .nav {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 150px; }
    #app-index .nav button {
      background: rgba(255, 255, 255, 0.8);
      border: 0;
      border-radius: 50px;
      padding: 10px 100px;
      font-size: 30px; }
      #app-index .nav button:hover {
        background: #ffcd52;
        cursor: pointer; }
